
# Created by https://www.gitignore.io/api/angular,nativescript

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

/.cloud

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

### NativeScript ###
/platforms
/hooks
/lib
/debugger

/app/**/*.map
# shouldn't ignore this for vanilla nativescript
# /app/**/*.js

**/*.log
tags

ers.txt


# End of https://www.gitignore.io/api/angular,nativescript